

.skill-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: $background-color-light;
  height: 100vh;

  @media only screen and(max-width: $bp-smallest) {
    grid-template-rows: 1fr 1fr;
  }

  &__left {
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7rem;

    @media only screen and(max-width: $bp-smallest) {
      grid-column: 1/-1;
      padding: 2rem;
    }

    &--heading {
      font-size: 5rem;
      color: $primary-color;

      @media only screen and(max-width: $bp-smallest) {
        font-size: 3rem;
      }
    }

    &--description {
      font-size: 2rem;
      color: #fff;

      @media only screen and(max-width: $bp-smallest) {
        font-size: 1.5rem;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @media only screen and(max-width: $bp-smallest) {
      grid-column: 1/-1;
      grid-row: 2/-1;
      justify-content: center;
    }
  }

  &__level {
    padding: 2rem;
    margin-right: 1rem;
    label {
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
    }

    &--be {
      @include level(rgb(0, 255, 13), 75%)
    }

    &--fe {
      @include level(rgb(255, 0, 191), 80%)
    }

    &--react {
      @include level(#61dafb, 85%)
    }

    &--node {
      @include level(#84ba64, 70%)
    }
  }
}