.about-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  background-color: $background-color-light;
  height: 100vh;
  &__heading {
    font-size: 5rem;
    color: $primary-color;
    line-height: 5px;
  }

  &__description {
    font-size: 2rem;
    color: #fff;
  }
}